@media  screen and (min-width:600px) {
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }


    nav{
        display: flex !important;
    }

    #hamburger{
        display: none;
    }
}